{% extends 'base.html' %}
{% block title_block %} {{ blog.slug }} {% endblock %}
{% block main_block %}

    <div class="container col-8" style="padding: 40px">

        <div class="card">
            <img style="height: 300px;object-fit: fill" class="card-img-top" src="{{ blog.blog_image.url }}"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ blog.blog_title }}</h5>
                <p class="card-text">{{ blog.blog_content|linebreaks }}</p>
            </div>
        </div>
    <div style="display: flex;padding: 20px;justify-content: space-between;width: 15%">

        {% if not liked_post %}
       <a href="{% url 'blog_app:blog-like' blog.pk %}"><i class="fa-solid fa-thumbs-up fa-2xl"></i></a>
       <a href="{% url 'blog_app:blog-like' blog.pk %}"><i class="fa-regular fa-thumbs-down fa-2xl"></i></a>
        {% else %}
                   <a href="{% url 'blog_app:blog-unlike' blog.pk %}"><i class="fa-regular fa-thumbs-up fa-2xl"></i></a>
       <a href="{% url 'blog_app:blog-unlike' blog.pk %}"><i class="fa-solid fa-thumbs-down fa-2xl"></i></a>

     {% endif %}


    </div>

        <div>
            <br>
            <h6>Comment</h6>
            <hr>
            <form method="POST" action="{% url 'blog_app:blog-comment' blog_id=blog.pk %}">
                {% csrf_token %}
                <input type="text" name="comment" placeholder="comment here!" style="height: 50px;width: 40%">
                <button type="submit" value="button" class="btn btn-success"> comment</button>
                <br>
            </form>

            {% for comment in blog.get_comment %}
                <div style="border: 1px solid gray ;border-radius: 5px; margin: 10px 0 10px 0">
                    <div class="col-8" style="display: flex;padding: 10px">
                        <i class="fa-regular fa-user fa-lg" style="margin-top: 8px;margin-right: 5px"></i>
                        <strong>{{ comment.user }}</strong>
                        <p style="margin-left: 10px">{{ comment.comment_date|timesince }}</p>
                    </div>
                    <p style="margin-left: 35px">{{ comment.comment }}</p>
                </div>
            {% endfor %}


        </div>

    </div>

    {{ blog.blog_title }}
{% endblock %}