{% extends 'base.html' %}
{% load static %}
{% block title_block %} Profile Setting {% endblock %}

{% block styles %}
    <link href="{% static 'profile.css' %}" rel="stylesheet">
{% endblock %}


{% block main_block %}

    <div class="container">
        <div class="container-left col-3 alert alert-primary" style="text-align: center">
            {% if user.user_profile %}
                <img src="/media/{{ user.user_profile.profile_picture }}" class="rounded-circle profile-pic"
                     alt="profile-image">
                <a href="{% url 'blog_app:profile-picture' %}">change</a>
            {% else %}
                <img src="/media/default_profile.jpg" class="rounded-circle profile-pic" alt="profile-image">
                <a href="{% url 'blog_app:profile-picture' %}" style="margin-left: 100px">upload</a>
            {% endif %}



            <div class="profile-text" style="text-align: center;margin-top: 20px">
                {% if user.first_name or user.last_name %}
                    <h6> {{ user.first_name }} {{ user.last_name }}</h6>
                {% else %}
                    <a href="{% url 'blog_app:profile_change' %}">add full name</a>
                {% endif %}
                <h6> @{{ user.username }}</h6>
                <h6> {{ user.email }}</h6>
                <br>
                <a href="{% url 'blog_app:profile_change' %}" class="btn btn-info">Edit Profile</a>
            </div>

        </div>
        <div class="container-right col-8 alert alert-info">
             <h3><strong>BLOG DASHBOARD</strong></h3>
        <hr>
            {% for blog in blogs %}

                <div class="blog-text alert alert-success">
                    <h4>{{ blog.blog_title }}</h4>
                    <div style="display: flex;">
                        <p style="margin-right: 15px"><i class="fa-solid fa-thumbs-up"
                                                         style="margin-right: 5px"></i>{{ blog.liked_blog.count }}
                        </p>
                        <p style="margin-right: 15px"><i class="fa-solid fa-thumbs-down"
                                                         style="margin-right: 5px"></i>{{ blog.Unliked_blog.count }}
                        </p>
                        <p style="margin-right: 15px"><i class="fa-solid fa-message"
                                                         style="margin-right: 5px"></i>{{ blog.blog_comment.count }}
                        </p>
                    </div>
                    <a href="{% url 'blog_app:blog-details' blog.slug %}" class="btn btn-primary btn-sm">View</a>
                    <a class="btn btn-success btn-sm">Edit</a>
                    <a href="" class="btn btn-danger btn-sm">Delete</a>

                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}