{% extends 'base.html' %}
{% load static %}
{% block title_block %} Profile Setting {% endblock %}

{% block styles %}
  <link href="{% static 'profile.css' %}" rel="stylesheet">
{% endblock %}


{% block main_block %}

<div class="container">
  <div class="container-left col-3 alert alert-primary">
  {% if user.user_profile %}
      <img src="/media/{{ user.user_profile.profile_picture }}" class="rounded-circle profile-pic" alt="profile-image" >
       <a href="{% url 'blog_app:profile-picture' %}" style="margin-left: 100px">change</a>
  {% else %}
      <img src="/media/default_profile.jpg" class="rounded-circle profile-pic" alt="profile-image" >
      <a href="{% url 'blog_app:profile-picture' %}" style="margin-left: 100px">upload</a>
  {% endif %}



      <div class="profile-text" style="text-align: center;margin-top: 20px">
          {% if user.first_name or user.last_name %}
        <h6> {{ user.first_name}} {{ user.last_name }}</h6>
          {% else %}
          <a href="{% url 'blog_app:profile_change' %}">add full name</a>
          {% endif %}
        <h6> @{{ user.username }}</h6>
        <h6> {{ user.email }}</h6>
          <br>
         <a href="{% url 'blog_app:profile_change' %}" class="btn btn-info">Edit Profile</a>
      </div>

  </div>
  <div class="container-right col-8 alert alert-info"></div>
</div>

{% endblock %}